/* media query Mobile first */
/* dispositivos moviles */
/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family:  sans-serif - teko; */
}

li{
    list-style: none;
}
/* p{
    font-family: "roboto";
} */

/* #1C1427 , #40394A , #7ECA9C , #CCFFBD , #F3EFE0  */
:root {
    /*bordes*/
    --bordes: 35px;

    /* Tipografia */
    --fuente-titulos: "Roboto", sans-serif;
    --fuente-parrafos: "Teko";
    /* Colores */


    /* fondos */
    --boton-azul: #0A3871;
    --boton-blanco: white;
    --fondo-mobile: #92BF8E;
    --fondo-tablet: linear-gradient(blueviolet , rgb(172, 150, 193));
    --fondo-desktop: linear-gradient(#48b43f, #CCFFBD)  ;
    
    /* Tamaño tipografico */
    --titulo: 6.3vw;
    --subtitulo: 6vw;
    --parrafos: 5vw;
    --span: 4vw;
}
body {
    background:var(--fondo-desktop);
}
header img{
    display: inline;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;

}

p{
    color: #020D1A;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
div.texto input{
    width: 100%;
    height: 300px;
    font-size:10vw ;
    text-align:start;
    margin: 1rem auto;
    padding: 1rem ;
    border: none;
    background: var(--fondo-desktop);
}
div.botones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items:center;
    margin: 10px 10px;
    padding: 10px 30px;
    width: 100%;
    height: 160px; ; 
    
}
div.botones .boton:first-child{
    background: var(--boton-azul);
    color:#fff;
}
div.botones .boton{
    width: 100%;
    border-radius: var(--bordes);
    height: 70px ;
    margin: 10px;
    font-size: var(--subtitulo);
    
}
div.respuesta{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
    width: 100%;
    height: 200px;
    padding: 10px;
}
div.respuesta textarea{
    border-radius: var(--bordes);
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: var(--parrafo);
}
footer img.img-footer{
    width: 20px;
    height: 30px;
  
}
footer p{
    font-size: var(--parrafo);
    font-family: var(--fuente-parrafos);
}


/* tablet */
@media (min-width: 430px){
    body {
        background:var(--fondo-tablet) ;
    }
    p{
        color: white;
    }
}
/* laptop o escritorio */
@media (min-width: 768px){
    body {
        background: var(--fondo-desktop);
    }
}



